h1 { font-family:Gill Sans, sans-serif; }
body { background-color: #e74c3c; }
h1 { color: #e74c3c; filter: brightness(170%);}
.btn { background-color: #e74c3c; filter: brightness(170%);}
body {color: #fff} .btn span {color: #000} .navbar {filter: invert(1);}
