h1 { font-family:Abril Fatface, serif; }
body { background-color: #cf6a87; }
h1 { color: #cf6a87; filter: brightness(170%);}
.btn { background-color: #cf6a87; filter: brightness(170%);}
body {color: #fff} .btn span {color: #000} .navbar {filter: invert(1);}
