h1 { font-family:Abril Fatface, serif; }
body { background-color: #fff; }
h1 { color: #000; filter: brightness(50%);}
.btn { background-color: #000; filter: brightness(50%);}
.btn span {color: #fff; filter: brightness(200%);}
