h1 { font-family:Abril Fatface, serif; }
body { background-color: #27ae60; }
h1 { color: #27ae60; filter: brightness(170%);}
.btn { background-color: #27ae60; filter: brightness(170%);}
body {color: #fff} .btn span {color: #000} .navbar {filter: invert(1);}
