h1 { font-family:Abril Fatface, serif; }
body { background-color: #000; }
h1 { color: #fff; filter: brightness(150%);}
.btn { background-color: #fff; filter: brightness(150%);}
body {color: #fff} .btn span {color: #000} .navbar {filter: invert(1);}
