main.container { text-align: right; } .btn {align-self: flex-end;} 
h1 { font-family:Gill Sans, sans-serif; }
body { background-color: #ecf0f1; }
h1 { color: #ecf0f1; filter: brightness(50%);}
.btn { background-color: rgba(0, 0, 0, 0.5);}
.btn span {color: #fff; filter: brightness(200%);}
