main.container { text-align: right; } .btn {align-self: flex-end;} 
h1 { font-family:Abril Fatface, serif; }
body { background-image: url('images/orange.jpg'); background-size: cover; }
aside { background-color: #fff; opacity: 0.7 }
h1 { color: #000; filter: brightness(50%);}
.btn { background-color: #000; filter: brightness(50%);}
.btn span {color: #fff; filter: brightness(200%);}
