main.container { text-align: right; } .btn {align-self: flex-end;} 
h1 { font-family:Abril Fatface, serif; }
body { background-color: #c0392b; }
h1 { color: #c0392b; filter: brightness(170%);}
.btn { background-color: #c0392b; filter: brightness(170%);}
body {color: #fff} .btn span {color: #000} .navbar {filter: invert(1);}
